[v-cloak] {
  display: none;
}
.hint {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    color: #2094E6;
}
.section_title {
    margin-bottom: 60px;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    color: #121212;
}
