@media screen and (min-width: 1700px) {
    .hero {
        background-position: 0 50%;
    }
} 

@media screen and (max-width: 992px) {
    .header {
        gap: 40px;
        .header_menu {
            display: none;
        }
        .burger {
            display: block;
        }
    }
    .reviews {
        &_wrap {
            .reviews_content {
                padding: 10px 60px 10px 0;
            }
        }
    }
    .footer {
        &_content {
            flex-wrap: wrap;
            .footer_logo {
                flex: 100%;
                margin-bottom: 25px;
            }
            .footer_menu {
                padding: 0 20px 20px 0;
            }
        }
    }
}
@media screen and (max-width: 800px) {

}

@media screen and (max-width: 750px) {
    .hero {
        &_wrap {
            .hero_title {
                font-weight: 600;
                font-size: 42px;
            }
        }
    }
    .footer {
        &_content {
            .footer_menu {
                flex: 50%;
                padding: 0 20px 20px 0;
            }
        }
    }
}
@media screen and (max-width: 667px) {
    .reviews {
    padding-bottom: 60px;
        &_wrap {
            flex-wrap: wrap;
            .reviews_content {
                flex-basis: 100%;
                padding: 0;
                .reviews_button {
                    margin-bottom: 20px;
                }
            }
            .reviews_image {
                flex-basis: 100%;
            }
        }
    }
    input {
        flex-basis: 100%;
    }
}
@media screen and (max-width: 600px) {
    .header_button {
        display: none;
    }
    .section_title {
        font-size: 36px;
        line-height: 50px;
    }
}
@media screen and (max-width: 480px) {
    .header_button {
        display: none;
    }
    .hero {
        &_wrap {
            padding: 180px 0 70px;
            color: #FFFFFF;
            .hero_title {
                font-size: 32px;
                line-height: 110%;
                margin-bottom: 25px;
            }
            .hero_descr {
                line-height: 130%;
            }
        }
    }
    .get_in_touch {
        &_wrap {
            .form {
                max-width: none;
                width: 100%;
            }
        }
    }
    .address_cards {
        flex-wrap: wrap;
    }
}